<div class="container qns">
    <div class="row qd">
        <div class="col-md-12">
           <h3> Q. {{questions[curr_idx]?.question}}</h3>
        </div>
        <div class="col-md-12">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{questions[curr_idx]?.option1}}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{questions[curr_idx]?.option2}}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{questions[curr_idx]?.option3}}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                {{questions[curr_idx]?.option4}}
                </label>
              </div>
  </div>
     
    </div>
     <div class="row">
         <div class="col-md-6">
            <button type="button" class="btn btn-dark" *ngIf="!(curr_idx == 0)" (click)="rem()">Prev</button>
         </div>
         <div class="col-md-6">
            <button type="button" class="btn btn-dark" *ngIf="!(curr_idx == questions.length - 1)" (click)="add()">Next</button>
         </div>
     </div>
</div>