<div class="container">
    <div class="row">
        <div class="col-md-4 mg">
            <img src="../../../assets/images/quiz.png" class="img-fluid" alt="...">
        </div>

        <div class="col-md-8 mg">
            <h1>Rules </h1>
            <ul class=" d-grid gap-5 ">
                <li class="list-group-item list-group-item-dark">1.</li>
                <li class="list-group-item list-group-item-dark">2.</li>
                <li class="list-group-item list-group-item-dark">3.</li>
                <li class="list-group-item list-group-item-dark ">4.</li>
                <li class="list-group-item list-group-item-dark">5.</li>
               
              </ul>
              <button type="button" class="btn btn-primary mt-3" (click)="start()">Start Quiz</button>
        </div>
    </div>
</div>