<div class="container">
    <div class="row">
        <div class="col-md-4 mg">
            <img src="../../../assets/images/quiz.png" class="img-fluid" alt="...">
        </div>

        <div class="col-md-8 mg">
            <h1>Rules </h1>
            <ul class=" d-grid gap-5 ">
                <li class="list-group-item list-group-item-dark"><b>1.This is Time Limited Quiz</b></li>
                <li class="list-group-item list-group-item-dark"><b>2.Attempt all the Questions</b></li>
                <li class="list-group-item list-group-item-dark"><b>3.There is no negative Marking</b></li>
                <li class="list-group-item list-group-item-dark "><b>4.Once You start the exam , You can't leave in Between</b></li>
                <li class="list-group-item list-group-item-dark"><b>5.Try to maximize your score , Best of Luck !</b></li>
               
              </ul>
              <button type="button" class="btn btn-primary mt-3" (click)="start()">Start Quiz</button>
        </div>
    </div>
</div>