<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1 class="signhead">Login for ExamPortal</h1>
          <img src="../../../assets/images/login.png" alt="" height="500px" width="500px" >
        </div>

        <div class="col-md-7">
            <form class="signupform">
               
                <div class="mb-3">
                    <label for="exampleInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="exampleInput" >
                 </div>
                
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
         
                

                 <button type="submit" class="btn btn-primary">Login</button>
              </form>
        </div>
    </div>
</div>