

<div class="container">
    <div class="row">
       

        <div class="col-md-6">
            Easy to Use Platform
            <img src="../../../assets/images/admin-p.png" alt="">
        </div>
        <div class="col-md-6">
            Students Get Benefits By giving Quiz
            <img src="../../../assets/images/quiz-h.png" alt="">
        </div>
        <div class="col-md-6">
            Get Scores For Your Quiz
            <img src="../../../assets/images/scores.png" alt="">
        </div>
        <div class="col-md-6">
            Easy For Teacher to Generate Quiz
            <img src="../../../assets/images/teachers.png" alt="">
        </div>
    </div>
</div>